@charset "UTF-8";
/*reset*/
html, body {
  width: 100%; }

html {
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-size: 62.5%; }

body, h1, h2, h3, h4, blockquote, p, dl, dt, dd, ul, ol, li, th, td, form, fieldset, legend, button, input, select, textarea {
  margin: 0;
  padding: 0; }

body, button, input, select, textarea {
  font: 16px/1.5 'helvetica neue',tahoma,'hiragino sans gb',stheiti,'wenquanyi micro hei',\5FAE\8F6F\96C5\9ED1,"微软雅黑",\5b8b\4f53,arial,sans-serif;
  vertical-align: baseline;
  color: #777;
  outline: 0; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input {
    line-height: normal !important; } }
select[size], select[multiple], select[size][multiple] {
  border: 1px solid #AAA;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video, progress {
  display: inline-block; }

button, input, select, textarea, h1, h2, h3, h4 {
  font-size: 100%; }

b, strong {
  font-weight: bold; }

em, i {
  font-style: normal; }

ol, ul {
  list-style: none;
  list-style-position: outside; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img, fieldset {
  border: 0;
  vertical-align: top; }

.cf:after {
  content: "\20";
  clear: both;
  height: 0;
  display: block;
  overflow: hidden; }

.cf {
  *zoom: 1; }

.clear {
  font-size: 0;
  line-height: 0;
  height: 0;
  overflow: hidden;
  clear: both;
  visibility: hidden; }

a {
  color: #333;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

a:hover {
  color: #0088cc; }

.fl, .mark {
  float: left; }

.fr, .subMark {
  float: right; }

.tac {
  text-align: center; }

.mt18 {
  margin-top: 18px; }

.mt20 {
  margin-top: 20px; }

.mt30 {
  margin-top: 30px; }

.mt35 {
  margin-top: 35px; }

.mt40 {
  margin-top: 40px; }

.mt42 {
  margin-top: 42px; }

.mt46 {
  margin-top: 46px; }

.mt50 {
  margin-top: 50px; }

.mt56 {
  margin-top: 56px; }

.mt60 {
  margin-top: 60px; }

.mt65 {
  margin-top: 65px; }

.mt70 {
  margin-top: 70px; }

.mt96 {
  margin-top: 96px; }

.mt110 {
  margin-top: 100px; }

.mt125 {
  margin-top: 125px; }

.inner {
  min-width: 1000px;
  padding: 0 30px; }

.bLayA {
  float: left;
  width: 100%;
  padding-right: 220px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.bLayB {
  float: left;
  width: 212px;
  margin-left: -212px; }

.bHeader {
  background: #000; }
  .bHeader .inner {
    background: #000; }
  .bHeader .logo {
    height: 60px;
    line-height: 60px;
    float: left;
    text-align: center;
    color: #fff; }
    .bHeader .logo i {
      width: 60px;
      height: 60px;
      float: left; }
      .bHeader .logo i img {
        width: 60px; }
    .bHeader .logo strong {
      float: left;
      padding: 0 20px;
      display: inline;
      font-size: 28px; }
  .bHeader .right {
    float: left;
    display: inline;
    margin-left: 20px; }
    .bHeader .right .top {
      line-height: 30px;
      color: #eee; }
      .bHeader .right .top em {
        color: #c00; }
    .bHeader .right .menu {
      padding-top: 4px; }
      .bHeader .right .menu a {
        line-height: 26px;
        float: left;
        display: inline;
        padding: 0 20px;
        margin-right: 10px;
        border-radius: 5px 5px 0 0;
        color: #eee;
        background: #999; }
      .bHeader .right .menu .cur, .bHeader .right .menu a:hover {
        color: #0088cc;
        background: #fff; }

.bFooter {
  padding: 16px 0;
  border-top: 1px solid #d4d4d4;
  margin-top: 20px;
  text-align: center;
  line-height: 24px;
  color: #ccc; }

.bBread {
  padding: 10px 0;
  line-height: 36px;
  font-size: 14px;
  color: #aaa; }

.bBtnA {
  display: block;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border: none;
  border-radius: 3px;
  color: #99ddff;
  background: #0088cc; }
  .bBtnA:hover {
    color: #fff;
    background: #55bbff; }

.bInpA {
  height: 28px;
  line-height: 16px;
  padding: 4px 6px;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.bAreaA {
  line-height: 24px;
  padding: 4px 6px;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.bBoxA {
  border: 1px solid #c8e8ff;
  border-radius: 5px;
  overflow: hidden; }
  .bBoxA > dt {
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    border-bottom: 1px solid #c8e8ff;
    background: #fafafa; }
    .bBoxA > dt strong {
      float: left; }
    .bBoxA > dt span {
      float: right; }

.bListA > li {
  border-bottom: 1px dashed #ddd; }
  .bListA > li:last-child {
    border-bottom: 0; }

.bSwitchA > dt {
  height: 32px;
  line-height: 32px; }
  .bSwitchA > dt .title {
    float: left;
    padding: 0 30px; }
  .bSwitchA > dt .titleSub {
    float: right; }
  .bSwitchA > dt .tab {
    float: left;
    height: 33px;
    position: relative;
    margin-bottom: -1px; }
    .bSwitchA > dt .tab a {
      height: 31px;
      line-height: 31px;
      float: left;
      display: inline;
      padding: 0 20px;
      margin: 0 3px;
      border: 1px solid #c8e8ff;
      border-radius: 5px 5px 0 0;
      background: #eee; }
    .bSwitchA > dt .tab .cur, .bSwitchA > dt .tab a:hover {
      border-bottom-color: #fff;
      background: #fff;
      color: #0088cc; }
.bSwitchA > dd {
  border: 1px solid #c8e8ff; }
  .bSwitchA > dd .con {
    display: none; }
  .bSwitchA > dd .con.cur {
    display: block; }

.bPicListA {
  height: 440px;
  padding-top: 10px;
  overflow-y: scroll; }
  .bPicListA li.none {
    width: 170px;
    line-height: 100px;
    text-align: center; }
  .bPicListA li {
    width: 80px;
    float: left;
    display: inline;
    margin: 0 5px 10px;
    text-align: center; }
    .bPicListA li .pic {
      display: block;
      width: 78px;
      height: 78px;
      border: 1px solid #eee;
      vertical-align: middle;
      text-align: center;
      overflow: hidden; }
      .bPicListA li .pic img {
        max-width: 78px;
        max-height: 78px;
        vertical-align: middle; }
      .bPicListA li .pic i {
        display: inline-block;
        height: 100%;
        vertical-align: middle; }
    .bPicListA li .btn {
      display: block;
      height: 20px;
      line-height: 20px; }
      .bPicListA li .btn a {
        margin: 0 5px; }
  .bPicListA .bPicListA_target {
    display: none;
    width: 0;
    height: 0; }

.bPage {
  padding: 20px 0;
  text-align: center;
  letter-spacing: -4px; }
  .bPage a, .bPage i, .bPage em {
    display: inline-block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    border-radius: 4px;
    margin: 0 3px;
    vertical-align: top;
    font-size: 12px;
    color: #999;
    letter-spacing: 0;
    border: 1px solid #d4d4d4; }
  .bPage a:hover {
    color: #fff;
    background: #55bbff;
    border: 1px solid #55bbff; }
  .bPage em {
    color: #fff;
    background: #55bbff;
    border: 1px solid #55bbff; }
  .bPage .bPageLast, .bPage .bPageNext {
    font-size: 14px; }
  .bPage span {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    margin-left: 10px;
    letter-spacing: 0; }

.bBoxA_img dt strong {
  width: 180px;
  text-align: center; }
.bBoxA_img .add {
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-top: 1px solid #c8e8ff;
  background: #fafafa; }

.bPopMark {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  background: #000;
  filter: alpha(opacity=30);
  opacity: 0.3; }

.bPopBox {
  display: none;
  width: 300px;
  max-width: 100%;
  padding: 20px;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 50%;
  margin-left: -170px;
  background: #fff; }

.bPopLoading {
  text-align: center;
  padding: 20px 0; }
  .bPopLoading img {
    margin-bottom: 20px; }

.bPopTxt {
  text-align: center; }
  .bPopTxt .tit {
    display: block;
    line-height: 30px;
    font-size: 16px; }
  .bPopTxt .con {
    margin-top: 12px; }
  .bPopTxt .btn {
    padding: 20px 0 0  50px; }
    .bPopTxt .btn a {
      width: 80px;
      float: left;
      display: inline;
      margin: 0 10px; }

.bPopUpload {
  padding: 10px 0; }
  .bPopUpload .top {
    height: 20px;
    line-height: 20px;
    padding: 5px 0; }
    .bPopUpload .top input {
      display: block;
      width: 250px;
      height: 20px;
      line-height: 20px;
      margin: 0 auto;
      text-align: center; }
  .bPopUpload .mid {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align: center; }
    .bPopUpload .mid span {
      display: none; }
      .bPopUpload .mid span em {
        margin: 0 4px;
        color: #c00; }
  .bPopUpload .bot {
    padding-left: 60px; }
    .bPopUpload .bot .bBtnA {
      width: 80px;
      float: left;
      display: inline;
      margin: 0 5px; }

.bPopModDate {
  text-align: center; }
  .bPopModDate .tit {
    display: block;
    line-height: 30px;
    font-size: 16px; }
  .bPopModDate .con {
    margin-top: 12px; }
    .bPopModDate .con input {
      height: 20px;
      line-height: 20px;
      padding: 5px;
      text-align: center; }
  .bPopModDate .btn {
    padding: 20px 0 0  50px; }
    .bPopModDate .btn a {
      width: 80px;
      float: left;
      display: inline;
      margin: 0 10px; }

.bLog {
  width: 350px;
  max-width: 100%;
  padding: 20px 10px 0;
  margin: 0 auto; }

.bLogTit {
  line-height: 50px;
  font-size: 22px;
  text-align: center; }

.bLogBox {
  margin-top: 10px; }
  .bLogBox dt {
    line-height: 36px; }

.bLogInp {
  padding: 0 8px;
  border: 1px solid #ddd;
  border-radius: 2px; }
  .bLogInp input {
    display: block;
    width: 100%;
    height: 16px;
    line-height: 16px;
    padding: 8px 0 10px;
    border: 0; }

.bLogInp.err {
  border-color: #c00; }

.bLogInpA {
  float: left;
  vertical-align: top;
  width: 50%;
  padding: 0 8px;
  border: 1px solid #ddd;
  border-radius: 2px; }
  .bLogInpA input {
    display: block;
    width: 100%;
    height: 16px;
    line-height: 16px;
    padding: 8px 0 10px;
    border: 0; }

.bLogInpA.err {
  border-color: #c00; }

.verification {
  float: left;
  vertical-align: top;
  margin-left: 10px; }

.bLogTxt {
  margin-top: 20px; }

.bLogBtn {
  margin-top: 20px;
  text-align: center; }
  .bLogBtn .submit {
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border: 0;
    border-radius: 2px;
    color: #99ddff;
    background: #0088cc; }
    .bLogBtn .submit:hover {
      color: #fff;
      background: #55bbff; }

.pIndex .bListA li {
  padding: 0 10px;
  line-height: 35px; }
  .pIndex .bListA li i {
    float: left;
    min-height: 35px; }
  .pIndex .bListA li .tit {
    width: 80px;
    padding: 0 5px;
    text-align: right; }
  .pIndex .bListA li .con {
    width: 200px; }

.pColumn .bBoxA dd {
  padding: 10px 0; }
.pColumn .bListA li {
  line-height: 35px;
  padding-left: 10px; }
.pColumn .bListA .title {
  font-weight: 700;
  color: #bbb; }
.pColumn .bListA .exp {
  float: left;
  width: 16px;
  height: 35px;
  text-align: center;
  font-weight: 700;
  cursor: pointer; }
.pColumn .bListA .tit {
  float: left; }
.pColumn .bListA .amount {
  float: left;
  padding: 0 5px;
  color: #aaa; }
.pColumn .bListA .sort {
  float: right;
  width: 80px;
  text-align: center; }
  .pColumn .bListA .sort input {
    width: 28px;
    height: 16px;
    line-height: 16px;
    padding: 3px 6px;
    border: 1px solid #ddd;
    border-radius: 4px; }
.pColumn .bListA .sortBtn {
  float: right;
  width: 80px;
  padding: 5px 0; }
.pColumn .bListA .con {
  float: right;
  width: 450px;
  text-align: center; }
  .pColumn .bListA .con a {
    margin: 0 3px; }
.pColumn .bListB .tr {
  border-top: 1px solid #eee; }
  .pColumn .bListB .tr .tr {
    border-top: 1px dashed #eee; }
    .pColumn .bListB .tr .tr .td2 {
      text-indent: 24px; }
  .pColumn .bListB .tr .trIn {
    padding: 10px 0;
    height: 24px;
    line-height: 24px;
    overflow: hidden; }
  .pColumn .bListB .tr i {
    height: 24px; }
  .pColumn .bListB .tr .td2 {
    float: left;
    width: 36%;
    text-indent: 12px; }
  .pColumn .bListB .tr .td3 {
    float: right;
    width: 8%;
    text-align: center; }
    .pColumn .bListB .tr .td3 input {
      width: 50px;
      height: 18px;
      line-height: 18px;
      padding: 2px 5px;
      border: 1px solid #ddd;
      border-radius: 4px; }
  .pColumn .bListB .tr .td4 {
    float: right;
    width: 43%;
    text-align: center; }
    .pColumn .bListB .tr .td4 a {
      margin: 0 3px; }
  .pColumn .bListB .tr .td5 {
    float: right;
    width: 13%;
    text-align: center; }
.pColumn .bListB .title {
  font-weight: 700;
  color: #bbb;
  border-top: 0; }
.pColumn .bBtnA {
  width: 70px;
  margin: 0 auto;
  font-size: 14px; }

.pColMod .bBoxA_img {
  width: 200px; }
.pColMod .bListAa li {
  line-height: 36px;
  padding: 10px 0; }
  .pColMod .bListAa li i {
    float: left; }
.pColMod .bListAa .td1 {
  width: 14%;
  padding-right: 5px;
  text-align: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }
.pColMod .bListAa .td2 {
  width: 51%; }
  .pColMod .bListAa .td2 .bInpA {
    width: 96%; }
  .pColMod .bListAa .td2 .bAreaA {
    display: block;
    width: 96%;
    max-width: 96%;
    height: 56px; }
.pColMod .bListAa .td3 {
  width: 35%;
  font-size: 14px;
  color: #999; }
  .pColMod .bListAa .td3 em {
    margin-right: 5px;
    color: #c00; }
.pColMod .bListAa .td4 {
  width: 400px; }
  .pColMod .bListAa .td4 .bInpA {
    width: 370px; }
.pColMod .bListAa .td5 {
  height: 46px;
  padding-right: 16px;
  overflow: hidden; }
  .pColMod .bListAa .td5 img {
    max-height: 46px;
    max-width: 100px; }
.pColMod .submit {
  padding: 10px;
  text-align: center; }
  .pColMod .submit .bBtnA {
    display: inline-block;
    width: 80px;
    margin: 0 10px; }

.pArtList .bListA {
  padding: 10px 0; }
  .pArtList .bListA li {
    line-height: 24px;
    padding: 10px 0; }
  .pArtList .bListA .title {
    font-weight: 700;
    color: #bbb; }
  .pArtList .bListA i {
    float: left; }
  .pArtList .bListA .td1 {
    width: 6%;
    text-align: center; }
  .pArtList .bListA .td2 {
    width: 26%;
    padding: 0 10px; }
  .pArtList .bListA .td3 {
    width: 7%;
    text-align: center; }
  .pArtList .bListA .td4 {
    width: 6%;
    text-align: center; }
  .pArtList .bListA .td5 {
    width: 10%;
    text-align: center; }
  .pArtList .bListA .td6 {
    width: 10%;
    text-align: center; }
  .pArtList .bListA .td7 {
    width: 24%;
    text-align: center; }
    .pArtList .bListA .td7 a {
      margin: 0 3px; }
  .pArtList .bListA .td8 {
    width: 9%;
    text-align: center; }
    .pArtList .bListA .td8 input {
      width: 50px;
      height: 16px;
      line-height: 16px;
      padding: 3px 6px;
      border: 1px solid #ddd;
      border-radius: 4px; }
  .pArtList .bListA .sortBtn {
    float: right;
    width: 9%;
    padding: 5px 0; }
    .pArtList .bListA .sortBtn .bBtnA {
      width: 70px;
      margin: 0 auto;
      font-size: 14px; }

.pBloList .bListA {
  padding: 10px 0; }
  .pBloList .bListA li {
    line-height: 24px;
    padding: 10px 0; }
  .pBloList .bListA .title {
    font-weight: 700;
    color: #bbb; }
  .pBloList .bListA i {
    float: left; }
  .pBloList .bListA .td1 {
    width: 7%;
    text-align: center; }
  .pBloList .bListA .td2 {
    width: 26%; }
  .pBloList .bListA .td3 {
    width: 11%;
    text-align: center; }
  .pBloList .bListA .td4 {
    width: 11%;
    text-align: center; }
  .pBloList .bListA .td5 {
    width: 14%;
    text-align: center; }
    .pBloList .bListA .td5 a {
      margin: 0 3px; }
  .pBloList .bListA .td6 {
    width: 9%;
    text-align: center; }
    .pBloList .bListA .td6 input {
      width: 50px;
      height: 16px;
      line-height: 16px;
      padding: 3px 6px;
      border: 1px solid #ddd;
      border-radius: 4px; }
  .pBloList .bListA .sortBtn {
    float: right;
    width: 9%;
    padding: 5px 0; }
    .pBloList .bListA .sortBtn .bBtnA {
      width: 70px;
      margin: 0 auto;
      font-size: 14px; }

.pArtMod .bBoxA_img {
  width: 200px; }
.pArtMod .bListAa li {
  line-height: 26px;
  padding: 10px 0; }
  .pArtMod .bListAa li i {
    float: left; }
.pArtMod .bListAa .artCon {
  display: block;
  width: 98%;
  max-width: 98%;
  margin: 0 auto;
  height: 500px; }
.pArtMod .bListAa .ke-container {
  margin: 0 auto;
  width: 98% !important; }
.pArtMod .bListAa .td1 {
  width: 9%;
  text-align: right; }
.pArtMod .bListAa .td2 {
  width: 41%; }
  .pArtMod .bListAa .td2 input {
    width: 96%; }
.pArtMod .bListAa .td3 {
  width: 60%; }
  .pArtMod .bListAa .td3 input {
    width: 96%; }
  .pArtMod .bListAa .td3 textarea {
    width: 96%;
    height: 56px; }
.pArtMod .bListAa .td4 {
  width: 31%;
  font-size: 14px;
  color: #999; }
  .pArtMod .bListAa .td4 em {
    margin-right: 5px;
    color: #c00; }
.pArtMod .bListAa .td5 {
  height: 46px;
  max-width: 100px;
  margin-right: 15px; }
  .pArtMod .bListAa .td5 img {
    max-height: 46px;
    max-width: 100px; }
.pArtMod .submit {
  padding: 10px;
  text-align: center; }
  .pArtMod .submit .bBtnA {
    display: inline-block;
    width: 80px;
    margin: 0 10px; }

.pBloMod .bBoxA_img {
  width: 200px; }
.pBloMod .bListAa li {
  line-height: 28px;
  padding: 10px 0; }
  .pBloMod .bListAa li i {
    float: left; }
.pBloMod .bListAa .bloCon {
  width: 96%;
  max-width: 96%;
  height: 362px;
  padding: 4px;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }
.pBloMod .bListAa .td1 {
  width: 10%;
  text-align: right; }
.pBloMod .bListAa .td2 {
  width: 90%; }
  .pBloMod .bListAa .td2 input {
    width: 96%; }
.pBloMod .submit {
  padding: 10px;
  text-align: center; }
  .pBloMod .submit .bBtnA {
    display: inline-block;
    width: 80px;
    margin: 0 10px; }

.pManager .bListA {
  padding: 10px 0; }
  .pManager .bListA li {
    line-height: 24px;
    padding: 10px 0; }
  .pManager .bListA .title {
    font-weight: 700;
    color: #bbb; }
  .pManager .bListA i {
    float: left;
    min-height: 22px;
    word-wrap: break-word;
    word-break: break-all; }
  .pManager .bListA .td1 {
    width: 12%;
    text-align: center; }
  .pManager .bListA .td2 {
    width: 19%;
    text-align: center; }
  .pManager .bListA .td3 {
    width: 8%;
    text-align: center; }
  .pManager .bListA .td4 {
    width: 10%;
    text-align: center; }
  .pManager .bListA .td5 {
    width: 10%;
    text-align: center; }
  .pManager .bListA .td6 {
    width: 22%;
    text-align: center; }
    .pManager .bListA .td6 a {
      margin: 0 3px; }
  .pManager .bListA .td7 {
    width: 9%;
    text-align: center; }
    .pManager .bListA .td7 input {
      width: 50px;
      height: 16px;
      line-height: 16px;
      padding: 3px 6px;
      border: 1px solid #ddd;
      border-radius: 4px; }
  .pManager .bListA .sortBtn {
    float: right;
    width: 9%;
    padding: 5px 0; }
    .pManager .bListA .sortBtn .bBtnA {
      width: 70px;
      margin: 0 auto;
      font-size: 14px; }

.pPublish .titleSub .bBtnA {
  float: right;
  width: 100px;
  margin-left: 8px; }
.pPublish .bListA {
  padding: 10px 0; }
  .pPublish .bListA li {
    line-height: 22px;
    padding: 10px 0; }
  .pPublish .bListA .title {
    font-weight: 700;
    color: #bbb; }
  .pPublish .bListA i {
    float: left;
    min-height: 22px;
    word-wrap: break-word;
    word-break: break-all; }
  .pPublish .bListA .td1 {
    width: 8%;
    text-align: center; }
  .pPublish .bListA .td2 {
    width: 8%;
    text-align: center; }
  .pPublish .bListA .td3 {
    width: 8%;
    text-align: center; }
  .pPublish .bListA .td4 {
    width: 11%;
    text-align: center; }
  .pPublish .bListA .td5 {
    width: 16%;
    text-align: center; }
  .pPublish .bListA .td6 {
    width: 10%;
    text-align: center; }
  .pPublish .bListA .td7 {
    width: 8%;
    text-align: center; }
  .pPublish .bListA .td8 {
    width: 15%;
    text-align: center; }

/*# sourceMappingURL=admin.css.map */
